.first {
    display: flex;
    align-items: center;
    margin: 8px;
    flex-direction: column;
}

.first-img {
    width: -webkit-fill-available;
    border-radius: 10px;
}

.first-span {
    font-family: 'font1';
    font-size: 20px;
    color: #0095ff;
}

.bio {
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    margin: 8px;
    padding: 8px;
    direction: rtl;
}

.bio-span {
    font-family: 'font1';
    color: #007eff;
}

.gostore {
    border-radius: 10px;
    border: 1px solid #c1c1c1;
    margin: 8px;
    padding: 8px;
    direction: rtl;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #007eff;
}

.gostore-span {
    font-family: 'font1';
    color: #f7f7f7;
}

.down {
    border: 0;
    background-color: #f7f7f7;
    position: fixed;
    bottom: 6px;
    left: 6px;
    border-radius: 30px;
}

.down-img {
    width: 40px;
    height: 45px;
}